<!Doctype <!DOCTYPE html>
<html>
<head>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    {% load static %}
	<link href="{% static "index.css" %}" rel="stylesheet">
	
    <script type="text/javascript" src="Matricula.js"></script>


<!---->
<ul class="uldropbtn">
        <li class="menudropbtn"><a src="#"></a></li>
        <li class="menudropbtn"><a href="#">Home</a></li>
          <li class="menudropbtn"><a href="login">Login</a></li>
          <li class="dropdown">
            <a href="cursos" class="dropbtn">Cursos</a>
            <div class="dropdown-content">
              <a href="#">Administração</a>
              <a href="ads">Análise e Desenvolvimento de Sistemas</a>
              <a href="#">Banco de dados</a>
              <a href="#">Gestão da Tecnologia da informação</a>
              <a href="#">Jogos Digitais</a>
              <a href="#">Processos Gerenciais</a>
              <a href="#">Produção Multimídia</a>
              <a href="#">Redes de Computadores</a>
              <a href="#">Sistemas de Informação</a>
            </div>
          </li>
        </ul>
</head>
<body class="bg-body">
<header>
    <marquee direction="up"><h1 id="vagas">Vagas abertas!!</h1></marquee>
        <section id="cursos">
                <h2>Conheça nossos Cursos</h2>
    
                <p class="centralizado">
                    Considerada uma das melhores faculdades com foco em tecnologia do País, a Faculdade Impacta oferece cursos de Graduação,
                    Pós-Graduação e MBA e cursos técnicos. Conheça quais são as áreas de conhecimento que a Impacta aborda e
                    saiba um pouco mais sobre cada curso:
                </p>
                <figure>
                    <img id="img1og" src="imagens/graduacao.jpg" class="imagem-curso" />
                    <img src="imagens/mba.jpg" class="imagem-curso" />
                    <img src="imogagens/tecnico.jpg" class="imagem-curso" />
                    <img src="imagens/up.jpg" class="imagem-curso" />
                </figure>
                <table class="imagem-curso">
                    <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Nível</th>
                            <th>Semestres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Análise e Desenvolvimento de Sistemas</td>
                            <td>Tecnólogo</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Sistemas da Informação</td>
                            <td>Bacharelado</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Banco de Dados</td>
                            <td>Tecnólogo</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Informática Industrial</td>
                            <td>Técnico</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </section>
</header>
    <main>
<link href="cursos.css"  rel="stylesheet" type="text/css" />
<script type="text/jscript" src="index.js"></script>


</div>

        


<section>   
<h1>titulo</h1>
<p>paragrafo</p>
<p>d</p>
<p>d</p>
<p>d</p>	

<p>d</p>
<p>d</p>
<p>d</p>

<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>
<p>d</p>

<p>d</p>

<p>d</p>

<p>d</p>

<p>d</p>

<p>d</p>

<p>d</p>]
</section>
<section class="vdbn">
<h1  id="timetxt">Venha fazer parte do nosso time você também!!</h1>
<div id="banner" class="banner">
	<div id="banner_img">
   	  <img src="C:\Users\wante\Desktop\AC_IDENTIDADEVISUAL\pessoas-felizes-marketing-multinivel.jpg" width="900px" height="300px" border="0" alt="Banner">
    </div>
  <!--  <div id="botoes">
    
    		<a href="javascript:void(0);" id="banner_img_1" class="hover" onclick="mudaImg('0');">1</a>
        	<a href="javascript:void(0);" id="banner_img_2" onclick="mudaImg('1');">2</a>
			<a href="javascript:void(0);" id="banner_img_3" onclick="mudaImg('2');">3</a>
        	<a href="javascript:void(0);" id="banner_img_4" onclick="mudaImg('3');">4</a>
    
    </div> -->
<iframe id="ytvd" width="560" height="315" src="https://www.youtube.com/embed/UYuVD3EbT2k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
		</section>
		</main>
</body>
        <footer>
                <hr />11 3254-8300 - Impacta 2018 - Todos os direitos reservados.
            </footer>
</html>