/*MENU*/
ul.uldropbtn{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li.menudropbtn {
    float: left;
}   

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/*NOTICIA*/
.pnoticia{
 color:#bbb;
}
#vagas{
    color:#009;
}

/*BANNER*/
.container {
    position:absolute;
    left:35%;
    bottom:-100%;
    margin-left:-110px;
    margin-top:-40px;
    } 
  
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFFFFF;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/* BANNER ROTATIVO */

#banner #banner_img {
	width: 900px;
	height: 300px;
	border: solid 3px #333;
}

#banner a {
	border: solid 1px #333;
	background-color: #F7F7F7;
	padding: 5px;
	text-decoration: none;
	color: #000;
}

	#banner a:hover {
		border: solid 1px #333;
		text-decoration: underline;
		background-color: #333;
		color: #FFF;
	}
	
	#banner a.hover {
		background-color: #333;
		color: #FFF;
	}
	
#banner #botoes {
	width: 900px;
	text-align: right;
}

#banner #botoes {
	padding-top: 5px;
}
/*background*/
body.bg-login{
    background-image: url('bg.jpg')
}
body.bg-body{
    background-image: url('bg.jpg')   
}

/**/
#vagas{
    float: left;
}
.imagem-curso{
    margin-bottom: 3px;
    background-color: #D7D7D7;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

